body{
 box-sizing: border-box;
}

div {
 border: 1px solid whitesmoke;
}

.photobooth {
 background-color: black;
 color: rgb(95, 95, 224);
 font-size: 1.4em;
 font-weight: 500;
 padding: 10px;
}
.photobooth i {
 font-size: 1.7em
}

.box {
 background-repeat: no-repeat !important;
 background-size: cover !important;
 background-position: center !important;
 min-height: 25vh;
}

#cajaimagenes img {
 width:20%;
 height: 20%;
}
